
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
  min-width: fit-content !important;
}

/* body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background-color: transparent;
}

body::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 10px rgba(68, 68, 68, 1) ;
} */

nav{
    z-index: 9;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8; /* Ensure it's on top of everything */
}
  .spinner {
  font-size: 32px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}
.container{
  margin-left: 40px !important;
}
#leadership-table{
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
}
.table thead tr th{
  font-size: 14px !important;
  text-align: center !important;
}
.table tbody td{
  text-align: center;
}
.leadership-table th{
    font-size: 15px;
    text-align: center !important;
}
.container{
  width: 100% !important;
  /* margin: 10px 0px 0px 10px !important; */
  margin: 0 auto !important;
  max-width: 1400px !important;
}
#leadership-table_wrapper{
  margin-top: 20px;
}
.leadership-data td{
    border: 1px solid rgb(67, 67, 67);
    padding: 4px;
    text-align: center;
    font-size: 13px;
}

/* .desc_class{
  width: 500px !important;
}
.hierarchy_class{
  width: 180px !important;
} */

/* .leadership-data td:nth-child(8){
 white-space: nowrap;
} */

.leadership-data td:nth-child(7){
 word-wrap: break-word;
 max-width: 100px;

}

.leadership-data td:nth-child(9){
  word-wrap: break-word !important;
  max-width: 300px !important;
 
 }


.leadership-data img{
  width: 80px;
}

/* .leadership-data td a{
  text-overflow: ellipsis; 
  white-space: nowrap; 
  max-width: 330px; 
  display: inline-block; 
  overflow: hidden;
} */

.validate_button{
  border: none;
}

tr:nth-child(2n) {
  background-color: rgb(226, 226, 226);
}
.btn{
  padding: 2px 4px !important;
  font-size: 12px !important;
  font-family: 600 !important;

}
th{
  text-align: center;
}

.upload_div{
  margin: 20px auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.upload_div h1{
  font-size: 32px;
  margin: 20px;
}
.upload_div button{
  font-size: 16px !important;
  padding: 8px 10px !important;
}
.upload_div input{
  font-size: 14px !important;
  padding: 8px !important;
}
.files_div{
  width: 500px;
  margin: 60px auto;
}
.files_div li{
  text-align: left;
  list-style: decimal;
}
.files_div ol:nth-child(2){
  background: rgb(214, 214, 214);
}

.filterDiv{
  margin: 20px 0px 0px 10px;
  /* background-color: aqua; */
  font-family: 'Roboto', sans-serif;
}

/* .description {
  max-height: 150px;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
} */

/* #leadership-table > tbody > tr > td {
  word-break: break-all !important;
} */

.link_class{
  word-break: break-all !important;
}

.table th, .table td {
  vertical-align: middle !important; 
}

.page-item.active .page-link {
  color: #ffffff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}
.page-link {
  color: black !important;
}

div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
  font-family: 'Roboto', sans-serif !important;
}

div.dataTables_wrapper div.dataTables_info{
  width: 400px;
  margin-bottom: -35px;
}

.feedback_submit_btn{
  margin-top: 6px;
}

.textarea{
  font-size: 14px !important;
  height: 100px;
}