{% extends "base.html" %}

{% block body %}

<!DOCTYPE html>
<html>

<head>
    <title>GovFinder</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.13.7/features/searchHighlight/dataTables.searchHighlight.min.js"></script>

</head>

<style>
    #leadership-data td{
        border: 1px solid rgb(67, 67, 67);
        padding: 4px;
    }
    th{
        text-align: center;
    }
</style>

<body>

    <div class="container mt-10">

        <!-- <div class="filterDiv">
            <label for="hierarchyFilter">Filter by Hierarchy:</label>
            <select onchange="filterHierarchy()" id="hierarchyFilter">
            </select>
        </div> -->
        
        <table id="leadership-table" class="accepted_data center center table table-striped table-bordered">
            <!-- <th>No.</th>
                <th>Image</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Link</th>
                <th>Description</th>
                <th>Hierarchy</th>
                <th>Feedback</th>
                <th>Status</th>
                <tbody id="leadership_data_accepted" class="leadership-data">
                </tbody> -->
            </table>
            
            
        </div>
        </body>
<script>
    // filterHierarchy()
</script>
</html>

{% endblock body %}