{% extends "base.html" %}
{% load static %}
{% block body %}


<!DOCTYPE html>
<html>

<head>
    <title>Department of Veterans Affairs</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
    th{
        text-align: center;
    }
</style>

<body>

    <!-- <a href="{% url 'data:accepted' %}">Accepted</a>
    <a href="{% url 'data:rejected' %}">Rejected</a> -->

    {% block content %}{% endblock content %}
    
    <table id="leadership-table">
        <th>No.</th>
        <th>Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Link</th>
        <!-- <th>Validate</th> -->
        <tbody id="leadership-data">
            <!-- Table rows will be inserted here -->
        </tbody>
    </table>

    <script>
  
            function loadData() {
                $.ajax({
                    url: '/get_data/',
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        const scrapData = response.scrap_data;
                        // Sort the data by ID
                        scrapData.sort((a, b) => a.id - b.id);
                        const tableBody = $('#leadership-data');

                        tableBody.empty();

                        scrapData.forEach(function (s_data) {
                            const validationText = s_data.validation ? 'Accepted' : 'Rejected';
                            
                            const row = `<tr>
                                <td>${s_data.id}</td>
                                <td>${s_data.name}</td>
                                <td>${s_data.dep}</td>
                                <td>${s_data.designation}</td>
                                <td>${s_data.email}</td>
                                <td>${s_data.phone_number}</td>
                                <td><a target=_blank href="${s_data.link}">${s_data.link}</a></td>
                                <td class="validate_button">
                                    <button class="validate_accept btn btn-success" data-id="${s_data.id}">Accept</button>
                                </td>
                                <td class="validate_button">
                                    <button class="validate_reject btn btn-danger" data-id="${s_data.id}">Reject</button>
                                </td>
                            </tr>`;
                            tableBody.append(row);
                            console.log(s_data.hierarchy)
                        });

                        // Add a click event listener to each row
                        $('.validate_accept').click(function () {
                            const id = $(this).data('id');
                            acceptData(id);
                        });

                         // Add a click event listener to each row
                         $('.validate_reject').click(function () {
                            const id = $(this).data('id');
                            rejectData(id);
                        });
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
            // Initial load of data
            loadData();
   


        function acceptData(id) {
            // Send a GET request to Validate the data
            $.ajax({
                url: '/accepted_data/',
                method: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    console.log('Data Validated:', data);
                    loadData();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error Validating Data:', errorThrown);
                }
            });
        }

        function rejectData(id) {
            // Send a GET request to Validate the data
            $.ajax({
                url: '/rejected_data/',
                method: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    console.log('Data Validated:', data);
                    loadData();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error Validating Data:', errorThrown);
                }
            });
        }
    </script>
</body>

</html>

{% endblock body %}