{% extends "base.html" %}

{% block body %}

<!DOCTYPE html>
<html>

<head>
    <title>Department of Veterans Affairs</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
    #leadership-data td{
        border: 1px solid rgb(67, 67, 67);
        padding: 4px;
    }
    th{
        text-align: center;
    }
</style>

<body>

    <table id="leadership-table">
        <th>No.</th>
        <th>Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Link</th>
        <!-- <th>Validate</th> -->
        <tbody id="leadership-data">
            <!-- Table rows will be inserted here -->
        </tbody>
    </table>

    <script>
        
        function loadData() {
            $.ajax({
                url: '/get_data/',
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    const scrapData = response.scrap_data;
                    // Sort the data by ID
                    scrapData.sort((a, b) => a.id - b.id);
                    const tableBody = $('#leadership-data');
                    
                    tableBody.empty();
                    
                    const acceptedData = scrapData.filter(scrap_data => !scrap_data.validation);
                    acceptedData.forEach(function (s_data) {
                        const validationText = s_data.validation ? 'Accepted' : 'Rejected';
                        const row = `<tr>
                            <td>${s_data.id}</td>
                            <td>${s_data.name}</td>
                            <td>${s_data.dep}</td>
                            <td>${s_data.designation}</td>
                            <td>${s_data.email}</td>
                            <td>${s_data.phone_number}</td>
                            <td><a target=_blank href="${s_data.link}">${s_data.link}</a></td>
                            <td>
                                <button class="validate_accept btn btn-success" data-id="${s_data.id}">Accept</button>
                            </td>
                        </tr>`;
                        tableBody.append(row);
                    });

                        // Add a click event listener to each row
                        $('.validate_accept').click(function () {
                            const id = $(this).data('id');
                            acceptData(id);
                        });
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
            // Initial load of data
            loadData();
   


        function acceptData(id) {
            // Send a GET request to Validate the data
            $.ajax({
                url: '/accepted_data/',
                method: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    console.log('Data Validated:', data);
                    loadData();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error Validating Data:', errorThrown);
                }
            });
        }

        function rejectData(id) {
            // Send a GET request to Validate the data
            $.ajax({
                url: '/rejected_data/',
                method: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    console.log('Data Validated:', data);
                    loadData();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error Validating Data:', errorThrown);
                }
            });
        }
    </script>
</body>

</html>

{% endblock body %}