{% extends "base.html" %}

{% block body %}

<style>
    .filterDiv{
        display: none;
    }
    .loader{
        display: none !important;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV</title>
</head>
<body>

    <div>
        <a class="nav-link {% if request.resolver_match.url_name == 'upload_member_csv' %}active{% endif %}" href="{% url 'legislative:upload_member_csv' %}">Member CSV</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'upload_committee_csv' %}active{% endif %}" href="{% url 'legislative:upload_committee_csv' %}">Committee CSV</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'upload_subcommittee_csv' %}active{% endif %}" href="{% url 'legislative:upload_subcommittee_csv' %}">SubCommittee CSV</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'upload_title_csv' %}active{% endif %}" href="{% url 'legislative:upload_title_csv' %}">Title CSV</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'upload_hierarchy_csv' %}active{% endif %}" href="{% url 'legislative:upload_hierarchy_csv' %}">Hierarchy CSV</a>
    </div>

    <div class="upload_div">
        <div>
            <h1>Upload a CSV File</h1>
            <form method="post" enctype="multipart/form-data" id="csv-form">
                {% csrf_token %}
                {{ member_form.as_p }}
                {{ committee_form.as_p }}
                {{ subcommittee_form.as_p }}
                {{ title_form.as_p }}
                <input class="btn btn-secondary" type="file" name="file">
                <button class="btn btn-primary" type="submit" id="upload-button">Upload</button>
            </form>
        </div>
    </div>


</body>
<!-- <script>
    $(document).ready(function () {
        // Function to check if the form is filled
        function isFormFilled() {
            // You can add more conditions to check other form fields if needed
            return $.trim($("input[name='file']").val()) !== '';
        }

        // Enable the button when the form is filled
        $("#csv-form").on("input", function () {
            if (isFormFilled()) {
                $("#upload-button").prop("disabled", false);
            } else {
                $("#upload-button").prop("disabled", true);
            }
        });
    });
</script> -->
</html>

{% endblock body %}
